@{
    ViewBag.Title = "Buyer Profile";
}
<h2>Contracts</h2>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Buyers/Index">Home</a></li>
    <li role="presentation" class="active"><a href="/Buyers/Contracts">Contracts</a></li>
    <li role="presentation"><a href="/Buyers/Profile">Profile</a></li>
</ul>
<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
    Contracts Without Bids
</button>
<div id="collapse" class="collapse">
    <ul>
        <li>Contract #1</li>
        <li>Contract #2</li>
        <li>Contract #3</li>
        <li>Contract #4</li>
    </ul>
</div>
<br />
<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse">
    Contract History
</button>
<div id="collapse2" class="collapse">
    <ul>
        <li>Contract #1</li>
        <li>Contract #2</li>
        <li>Contract #3</li>
        <li>Contract #4</li>
    </ul>

</div>